<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
	<!-- 加载 css -->
	<script type="text/javascript" src="/index/importcss.js"></script>
	<!-- 加载 js -->
	<script type="text/javascript" src="/index/importjs.js"></script>
</head>

<body ng-app = "angularFire">
		
	<div ng-include = "'bsuposts/navbar/davbar-source.html'"></div>
	<!-- test code <div >
		<div ng-controller = "postsCtrl" >
			<input type="text" ng-model="data.text"/>
		</div>
		<div ng-controller = "postLists" >
			<ul>
			 <li ng-repeat="post in posts">{{ post.$value }}</li>
		</div>
	</div>
	 t
	<div>
		<h1>万里长城最伟大</h1>
		<button class="btn btn-default" ng-click="mynum = mynum + 1" ng-init="mynum = 1">add one
		</button> {{mynum}} 
		<button ng-click="count = count + 1" ng-init="count=0">OK</button> {{count}}
		<button type="button" class="btn btn-default">默认按钮</button>
		<button type="button" class="btn btn-primary">原始按钮</button>
		<button type="button" class="btn btn-success">成功按钮</button>
		<button type="button" class="btn btn-info">信息按钮</button>
		<button type="button" class="btn btn-warning">警告按钮</button>
		<button type="button" class="btn btn-danger">危险按钮</button>
		<button type="button" class="btn btn-link">链接按钮</button>
	</div>
	-->
	
</body>


</html>